body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

h1, h2, h3 {
  color: #111827;
}

p, li {
  font-size: 14px;
  line-height: 1.6;
}
header{
  flex-shrink: 0;
}